In [1]:
import numpy as np
import pandas as pd
import datetime
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# from itertools import product

In [3]:
df =  pd.read_pickle('./mypkl/clean_with_datetime_lag_en.pkl')

In [4]:
df.head(2)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,item_category_name,shop_name,...,item_cnt_day_lag_6,item_price_lag_6,item_cnt_day_lag_7,item_price_lag_7,item_cnt_day_lag_10,item_price_lag_10,item_cnt_day_lag_15,item_price_lag_15,item_cnt_day_lag_20,item_price_lag_20
0,2013-01-01,0,27,8665,299.0,1.0,BARBOSKINY ISSUE 5: The Sorcerer's Apprentice,40,Movie - DVD,"Moscow shopping center ""MEGA Belaya Dacha II""",...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
1,2013-01-01,0,27,10324,1199.0,1.0,HARRY POTTER AND THE DEATHLY HALLOWS. PART 1 (...,38,Movies - Blu-Ray 3D,"Moscow shopping center ""MEGA Belaya Dacha II""",...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0

#### get top 10 names and make column if they are present

In [5]:
top_words_item_name = ['russion', 'version', 'pc', 'jewel', 'ps3', 'edition', 'xbox', 'region', '360', 'subtitles', 'ps4', 'game', 'black', 'ps', '3d', 'assassin', 'sims', 'collection']
top_words_item_category = ['games', 'movie', 'dvd', 'pc', 'music', 'gifts', 'edition', 'standard', 'cd', 'production', 'local', 'movies', 'bluray', 'ps3', 'xbox', '360', 'additional', 'publications', 'ps4', 'accessories', 'books', 'programs', 'souvenirs', 'soft', 'toys', 'compact', 'figures', 'home', 'office', 'collector']
top_words_shop_name = ['moscow', 'tc', 'center', 'shopping', 'mega', 'sec', 'trc', 'ii', 'mall', 'semyonov', 'tk', 'yakutsk', 'atrium', 'sc', 'st', 'petersburg', 'voronezh', 'khimki']

top_words_big_list = top_words_item_name + top_words_item_category + top_words_shop_name

In [6]:
cols_to_lower = ['item_name', 'item_category_name', 'shop_name']
for col in cols_to_lower:
    df[col] = df[col].str.lower()
# direct nahi jamta hai

In [7]:
# for x,y,z in zip(top_words_item_name, top_words_item_category, top_words_shop_name): 
#     print(x,y,z)
# wo sab nahi iterate hote phir zip kar diya to

In [8]:
df['item_name'].map(lambda x: 1 if 'ISSUE' in x else 0)[:5]
# would have been 1 in first row if upper case rehta

0    0
1    0
2    0
3    0
4    0
Name: item_name, dtype: int64

In [9]:
for word in top_words_item_name: 
    df['top_item_name'] = df['item_name'].map(lambda x: 1 if word in x else 0)
    
for word in top_words_item_category: 
    df['top_category_name'] = df['item_category_name'].map(lambda x: 1 if word in x else 0)
    
for word in top_words_shop_name: 
    df['top_shop_name'] = df['shop_name'].map(lambda x: 1 if word in x else 0)

In [10]:
df['top_item_name'].value_counts()

0    2870667
1      55519
Name: top_item_name, dtype: int64

In [11]:
df['top_shop_name'].value_counts()

0    2783254
1     142932
Name: top_shop_name, dtype: int64

In [12]:
df['top_category_name'].value_counts()

0    2881445
1      44741
Name: top_category_name, dtype: int64

In [13]:
df['top_words_total'] = df['top_item_name']+ df['top_category_name']+df['top_shop_name']
df['top_words_total'].value_counts()

0    2692395
1     224689
2       8803
3        299
Name: top_words_total, dtype: int64

### my try

In [14]:
groups_try = df.iloc[:3000].groupby(['shop_id','item_id', 'date_block_num'])

In [15]:
df.columns

Index(['date', 'date_block_num', 'shop_id', 'item_id', 'item_price',
       'item_cnt_day', 'item_name', 'item_category_id', 'item_category_name',
       'shop_name', 'date_year', 'date_quarter', 'date_month', 'date_day',
       'date_day_of_week', 'date_day_of_year', 'date_weekofyear',
       'date_is_month_end', 'date_is_month_start', 'date_is_quarter_end',
       'date_is_quarter_start', 'date_is_year_end', 'date_is_year_start',
       'date_is_weekend', 'date_day_part', 'is_Holiday', 'is_near_Holiday',
       'until_holiday', 'since_holiday', 'item_cnt_day_lag_1',
       'item_price_lag_1', 'item_cnt_day_lag_2', 'item_price_lag_2',
       'item_cnt_day_lag_3', 'item_price_lag_3', 'item_cnt_day_lag_4',
       'item_price_lag_4', 'item_cnt_day_lag_5', 'item_price_lag_5',
       'item_cnt_day_lag_6', 'item_price_lag_6', 'item_cnt_day_lag_7',
       'item_price_lag_7', 'item_cnt_day_lag_10', 'item_price_lag_10',
       'item_cnt_day_lag_15', 'item_price_lag_15', 'item_cnt_day_lag_20',
       'item_price_lag_20', 'top_item_name', 'top_category_name',
       'top_shop_name', 'top_words_total'],
      dtype='object')

In [16]:
# trainset = groups_try.agg({'item_cnt_day':'sum', 'item_price':'mean'}).reset_index()

In [17]:
# groups_try.agg??

In [18]:
lag_cols = [col for col in df.columns if 'lag' in col]
top_cols = [col for col in df.columns if 'top' in col]
date_cols = [col for col in df.columns if 'date' in col]
# holiday miss ho gaya, so making it manually

In [19]:
big_list_cols = ['date_year', 'date_quarter', 'date_month', 'date_day',
       'date_day_of_week', 'date_day_of_year', 'date_weekofyear',
       'date_is_month_end', 'date_is_month_start', 'date_is_quarter_end',
       'date_is_quarter_start', 'date_is_year_end', 'date_is_year_start',
       'date_is_weekend', 'date_day_part', 'is_Holiday', 'is_near_Holiday',
       'until_holiday', 'since_holiday', 'item_cnt_day_lag_1',
       'item_price_lag_1', 'item_cnt_day_lag_2', 'item_price_lag_2',
       'item_cnt_day_lag_3', 'item_price_lag_3', 'item_cnt_day_lag_4',
       'item_price_lag_4', 'item_cnt_day_lag_5', 'item_price_lag_5',
       'item_cnt_day_lag_6', 'item_price_lag_6', 'item_cnt_day_lag_7',
       'item_price_lag_7', 'item_cnt_day_lag_10', 'item_price_lag_10',
       'item_cnt_day_lag_15', 'item_price_lag_15', 'item_cnt_day_lag_20',
       'item_price_lag_20','top_item_name', 'top_category_name',
       'top_shop_name', 'top_words_total']

In [20]:
old_cols = ['item_price', 'item_cnt_day', 'item_name', 
            'item_category_id', 'item_category_name', 'shop_name']

In [21]:
df.replace(99999, np.int8(0), inplace=True)

In [22]:
new_df = df.groupby(['shop_id','item_id', 'date_block_num'])[big_list_cols].agg(['mean', 'min', 'max']).reset_index()
# new_df = df.groupby(['shop_id','item_id', 'date_block_num'])[big_list_cols].agg(['mean']).reset_index()

In [23]:
new_df.head(2)

  shop_id item_id date_block_num date_year             date_quarter          \
                                      mean   min   max         mean min max
0       0      30              1    2013.0  2013  2013          1.0   1   1
1       0      31              1    2013.0  2013  2013          1.0   1   1

  date_month  ... top_item_name top_category_name         top_shop_name      \
        mean  ...           max              mean min max          mean min
0        2.0  ...             0               0.0   0   0           0.0   0
1        2.0  ...             0               0.0   0   0           0.0   0

      top_words_total
  max            mean min max
0   0             0.0   0   0
1   0             0.0   0   0

[2 rows x 129 columns]

In [24]:
new_df.columns

MultiIndex([(          'shop_id',     ''),
            (          'item_id',     ''),
            (   'date_block_num',     ''),
            (        'date_year', 'mean'),
            (        'date_year',  'min'),
            (        'date_year',  'max'),
            (     'date_quarter', 'mean'),
            (     'date_quarter',  'min'),
            (     'date_quarter',  'max'),
            (       'date_month', 'mean'),
            ...
            (    'top_item_name',  'max'),
            ('top_category_name', 'mean'),
            ('top_category_name',  'min'),
            ('top_category_name',  'max'),
            (    'top_shop_name', 'mean'),
            (    'top_shop_name',  'min'),
            (    'top_shop_name',  'max'),
            (  'top_words_total', 'mean'),
            (  'top_words_total',  'min'),
            (  'top_words_total',  'max')],
           length=129)

In [25]:
new_df.columns = [' '.join(col).strip() for col in new_df.columns.values]

In [26]:
new_df.columns

Index(['shop_id', 'item_id', 'date_block_num', 'date_year mean',
       'date_year min', 'date_year max', 'date_quarter mean',
       'date_quarter min', 'date_quarter max', 'date_month mean',
       ...
       'top_item_name max', 'top_category_name mean', 'top_category_name min',
       'top_category_name max', 'top_shop_name mean', 'top_shop_name min',
       'top_shop_name max', 'top_words_total mean', 'top_words_total min',
       'top_words_total max'],
      dtype='object', length=129)

In [27]:
new_df.head(2)

,shop_id,item_id,date_block_num,date_year mean,date_year min,date_year max,date_quarter mean,date_quarter min,date_quarter max,date_month mean,...,top_item_name max,top_category_name mean,top_category_name min,top_category_name max,top_shop_name mean,top_shop_name min,top_shop_name max,top_words_total mean,top_words_total min,top_words_total max
0,0,30,1,2013.0,2013,2013,1.0,1,1,2.0,...,0,0.0,0,0,0.0,0,0,0.0,0,0
1,0,31,1,2013.0,2013,2013,1.0,1,1,2.0,...,0,0.0,0,0,0.0,0,0,0.0,0,0

In [28]:
new_df_2 = df.groupby(['shop_id','item_id', 'date_block_num']).agg({'item_cnt_day':'sum', 'item_price':'mean'}).reset_index()
new_df_2.rename(columns = {'item_cnt_day' : 'item_cnt_month'}, inplace=True)

In [29]:
new_df_2.head(2)

   shop_id  item_id  date_block_num  item_cnt_month  item_price
0        0       30               1            31.0       265.0
1        0       31               1            11.0       434.0

In [30]:
new_df.shape[0], new_df_2.shape[0]

(1608187, 1608187)

In [31]:
# pd.merge??

In [32]:
merge_cols = ['shop_id','item_id','date_block_num']

In [33]:
merged_df = pd.merge(left=new_df, right=new_df_2, how='outer', on=merge_cols)

In [34]:
merged_df.head()

,shop_id,item_id,date_block_num,date_year mean,date_year min,date_year max,date_quarter mean,date_quarter min,date_quarter max,date_month mean,...,top_category_name min,top_category_name max,top_shop_name mean,top_shop_name min,top_shop_name max,top_words_total mean,top_words_total min,top_words_total max,item_cnt_month,item_price
0,0,30,1,2013.0,2013,2013,1.0,1,1,2.0,...,0,0,0.0,0,0,0.0,0,0,31.0,265.0
1,0,31,1,2013.0,2013,2013,1.0,1,1,2.0,...,0,0,0.0,0,0,0.0,0,0,11.0,434.0
2,0,32,0,2013.0,2013,2013,1.0,1,1,1.0,...,0,0,0.0,0,0,0.0,0,0,6.0,221.0
3,0,32,1,2013.0,2013,2013,1.0,1,1,2.0,...,0,0,0.0,0,0,0.0,0,0,10.0,221.0
4,0,33,0,2013.0,2013,2013,1.0,1,1,1.0,...,0,0,0.0,0,0,0.0,0,0,3.0,347.0

In [35]:
merged_df.columns

Index(['shop_id', 'item_id', 'date_block_num', 'date_year mean',
       'date_year min', 'date_year max', 'date_quarter mean',
       'date_quarter min', 'date_quarter max', 'date_month mean',
       ...
       'top_category_name min', 'top_category_name max', 'top_shop_name mean',
       'top_shop_name min', 'top_shop_name max', 'top_words_total mean',
       'top_words_total min', 'top_words_total max', 'item_cnt_month',
       'item_price'],
      dtype='object', length=131)

In [38]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1608187 entries, 0 to 1608186
Columns: 131 entries, shop_id to item_price
dtypes: Float64(18), Int16(4), Int8(32), float32(62), float64(4), int64(11)
memory usage: 941.7 MB

In [42]:
import gc
def downcast_df_int_columns(df):
    list_of_columns = list(df.select_dtypes(include=["int32", "int64"]).columns)
        
    if len(list_of_columns)>=1:
        max_string_length = max([len(col) for col in list_of_columns]) # finds max string length for better status printing
        
        for col in list_of_columns:
            df[col] = pd.to_numeric(df[col], downcast="integer")

    gc.collect()
    print("done")
    
def downcast_df_float_columns(df):
    list_of_columns = list(df.select_dtypes(include=["float64","float32" ]).columns)
        
    if len(list_of_columns)>=1:
        max_string_length = max([len(col) for col in list_of_columns]) # finds max string length for better status printing
        
        for col in list_of_columns:
            df[col] = pd.to_numeric(df[col], downcast="float")

    gc.collect()
    print("done")

In [43]:
downcast_df_int_columns(merged_df)
downcast_df_float_columns(merged_df)

done
done

In [44]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1608187 entries, 0 to 1608186
Columns: 131 entries, shop_id to item_price
dtypes: Float32(18), Int16(4), Int8(32), float32(66), int16(1), int8(10)
memory usage: 690.2 MB

In [47]:
# %%time
# inferred_dtypes, cleaned_df = clean_df(merged_df, remove_duplicate_entries = True, downcast_memory = True, 
#                                        clean_header=False, standardize_missing_values= 'ignore')
# Downcast Memory Report:
# 	Memory reducted from 723684150 to 741374207. New size: (102.44%)
# lol

In [48]:
merged_df.to_pickle('./mypkl/clean_with_datetime_lag__groupby_en.pkl')

In [49]:
df =  pd.read_pickle('./mypkl/clean_with_datetime_lag__groupby_en.pkl')

In [107]:
df.head()

,shop_id,item_id,date_block_num,date_year mean,date_year min,date_year max,date_quarter mean,date_quarter min,date_quarter max,date_month mean,...,top_category_name min,top_category_name max,top_shop_name mean,top_shop_name min,top_shop_name max,top_words_total mean,top_words_total min,top_words_total max,item_cnt_month,item_price
0,0,30,1,2013.0,2013,2013,1.0,1,1,2.0,...,0,0,0.0,0,0,0.0,0,0,20.0,265.0
1,0,31,1,2013.0,2013,2013,1.0,1,1,2.0,...,0,0,0.0,0,0,0.0,0,0,11.0,434.0
2,0,32,0,2013.0,2013,2013,1.0,1,1,1.0,...,0,0,0.0,0,0,0.0,0,0,6.0,221.0
3,0,32,1,2013.0,2013,2013,1.0,1,1,2.0,...,0,0,0.0,0,0,0.0,0,0,10.0,221.0
4,0,33,0,2013.0,2013,2013,1.0,1,1,1.0,...,0,0,0.0,0,0,0.0,0,0,3.0,347.0

In [103]:
df['date_block_num'].value_counts()

11    66257
2     63951
0     63169
1     59911
23    59252
6     58004
7     57986
5     56168
3     54589
4     53276
12    53270
8     51543
10    51430
9     51055
14    49258
13    47655
24    46736
17    46456
19    46417
16    45743
22    45740
18    45729
15    44717
21    42575
25    41360
26    40441
20    40391
30    33515
31    33472
27    32849
28    32206
29    31895
33    31519
32    29652
Name: date_block_num, dtype: int64

In [106]:
df[df['date_block_num']==34]

Empty DataFrame
Columns: [shop_id, item_id, date_block_num, date_year mean, date_year min, date_year max, date_quarter mean, date_quarter min, date_quarter max, date_month mean, date_month min, date_month max, date_day mean, date_day min, date_day max, date_day_of_week mean, date_day_of_week min, date_day_of_week max, date_day_of_year mean, date_day_of_year min, date_day_of_year max, date_weekofyear mean, date_weekofyear min, date_weekofyear max, date_is_month_end mean, date_is_month_end min, date_is_month_end max, date_is_month_start mean, date_is_month_start min, date_is_month_start max, date_is_quarter_end mean, date_is_quarter_end min, date_is_quarter_end max, date_is_quarter_start mean, date_is_quarter_start min, date_is_quarter_start max, date_is_year_end mean, date_is_year_end min, date_is_year_end max, date_is_year_start mean, date_is_year_start min, date_is_year_start max, date_is_weekend mean, date_is_weekend min, date_is_weekend max, is_Holiday mean, is_Holiday min, is_Holiday max, is_near_Holiday mean, is_near_Holiday min, is_near_Holiday max, until_holiday mean, until_holiday min, until_holiday max, since_holiday mean, since_holiday min, since_holiday max, item_cnt_day_lag_1 mean, item_cnt_day_lag_1 min, item_cnt_day_lag_1 max, item_price_lag_1 mean, item_price_lag_1 min, item_price_lag_1 max, item_cnt_day_lag_2 mean, item_cnt_day_lag_2 min, item_cnt_day_lag_2 max, item_price_lag_2 mean, item_price_lag_2 min, item_price_lag_2 max, item_cnt_day_lag_3 mean, item_cnt_day_lag_3 min, item_cnt_day_lag_3 max, item_price_lag_3 mean, item_price_lag_3 min, item_price_lag_3 max, item_cnt_day_lag_4 mean, item_cnt_day_lag_4 min, item_cnt_day_lag_4 max, item_price_lag_4 mean, item_price_lag_4 min, item_price_lag_4 max, item_cnt_day_lag_5 mean, item_cnt_day_lag_5 min, item_cnt_day_lag_5 max, item_price_lag_5 mean, item_price_lag_5 min, item_price_lag_5 max, item_cnt_day_lag_6 mean, item_cnt_day_lag_6 min, item_cnt_day_lag_6 max, item_price_lag_6 mean, item_price_lag_6 min, item_price_lag_6 max, item_cnt_day_lag_7 mean, item_cnt_day_lag_7 min, item_cnt_day_lag_7 max, item_price_lag_7 mean, item_price_lag_7 min, item_price_lag_7 max, item_cnt_day_lag_10 mean, ...]
Index: []

[0 rows x 131 columns]

### split

In [50]:
df['item_cnt_month'] = df['item_cnt_month'].clip(0,20)

In [51]:
start_month = 0
end_month = 33

In [52]:
trainset = df[(df['date_block_num'] >= start_month) & (df['date_block_num'] <= end_month)]
testset = df[df['date_block_num']==34]
train_test_set = pd.concat([trainset, testset], axis = 0)

In [53]:
cv_trainset = trainset[(train_test_set['date_block_num'] >= 0) & (train_test_set['date_block_num'] <= 32)]
cv_valset = train_test_set[train_test_set['date_block_num'] == 33]

In [63]:
train_x = cv_trainset.loc[:, cv_trainset.columns != 'item_cnt_month']
train_x = train_x.values

train_y = cv_trainset.loc[:, 'item_cnt_month']
train_y = train_y.values

In [64]:
val_x = cv_valset.loc[:, cv_valset.columns != 'item_cnt_month']
val_x = val_x.values

val_y = cv_valset.loc[:, 'item_cnt_month']
val_y = val_y.values

In [100]:
testset

Empty DataFrame
Columns: [shop_id, item_id, date_block_num, date_year mean, date_year min, date_year max, date_quarter mean, date_quarter min, date_quarter max, date_month mean, date_month min, date_month max, date_day mean, date_day min, date_day max, date_day_of_week mean, date_day_of_week min, date_day_of_week max, date_day_of_year mean, date_day_of_year min, date_day_of_year max, date_weekofyear mean, date_weekofyear min, date_weekofyear max, date_is_month_end mean, date_is_month_end min, date_is_month_end max, date_is_month_start mean, date_is_month_start min, date_is_month_start max, date_is_quarter_end mean, date_is_quarter_end min, date_is_quarter_end max, date_is_quarter_start mean, date_is_quarter_start min, date_is_quarter_start max, date_is_year_end mean, date_is_year_end min, date_is_year_end max, date_is_year_start mean, date_is_year_start min, date_is_year_start max, date_is_weekend mean, date_is_weekend min, date_is_weekend max, is_Holiday mean, is_Holiday min, is_Holiday max, is_near_Holiday mean, is_near_Holiday min, is_near_Holiday max, until_holiday mean, until_holiday min, until_holiday max, since_holiday mean, since_holiday min, since_holiday max, item_cnt_day_lag_1 mean, item_cnt_day_lag_1 min, item_cnt_day_lag_1 max, item_price_lag_1 mean, item_price_lag_1 min, item_price_lag_1 max, item_cnt_day_lag_2 mean, item_cnt_day_lag_2 min, item_cnt_day_lag_2 max, item_price_lag_2 mean, item_price_lag_2 min, item_price_lag_2 max, item_cnt_day_lag_3 mean, item_cnt_day_lag_3 min, item_cnt_day_lag_3 max, item_price_lag_3 mean, item_price_lag_3 min, item_price_lag_3 max, item_cnt_day_lag_4 mean, item_cnt_day_lag_4 min, item_cnt_day_lag_4 max, item_price_lag_4 mean, item_price_lag_4 min, item_price_lag_4 max, item_cnt_day_lag_5 mean, item_cnt_day_lag_5 min, item_cnt_day_lag_5 max, item_price_lag_5 mean, item_price_lag_5 min, item_price_lag_5 max, item_cnt_day_lag_6 mean, item_cnt_day_lag_6 min, item_cnt_day_lag_6 max, item_price_lag_6 mean, item_price_lag_6 min, item_price_lag_6 max, item_cnt_day_lag_7 mean, item_cnt_day_lag_7 min, item_cnt_day_lag_7 max, item_price_lag_7 mean, item_price_lag_7 min, item_price_lag_7 max, item_cnt_day_lag_10 mean, ...]
Index: []

[0 rows x 131 columns]

In [99]:
test_x = testset.loc[:, testset.columns != 'item_cnt_month']
test_x.values

test_y = testset.loc[:, 'item_cnt_month']
test_y.values

array([], dtype=float32)

## lazypredict (DEPRECIATED!)

In [74]:
# import lazypredict
# from lazypredict.Supervised import LazyRegressor

## lightgbm baseline

In [75]:
import lightgbm as lgb

In [76]:
LGB = lgb.LGBMRegressor(metric='rmse')
LGB.fit(train_x, train_y)

LGBMRegressor(metric='rmse')

In [87]:
cv_trainset.loc[:, cv_trainset.columns != 'item_cnt_month'].columns

Index(['shop_id', 'item_id', 'date_block_num', 'date_year mean',
       'date_year min', 'date_year max', 'date_quarter mean',
       'date_quarter min', 'date_quarter max', 'date_month mean',
       ...
       'top_category_name mean', 'top_category_name min',
       'top_category_name max', 'top_shop_name mean', 'top_shop_name min',
       'top_shop_name max', 'top_words_total mean', 'top_words_total min',
       'top_words_total max', 'item_price'],
      dtype='object', length=130)

In [88]:
LGB.feature_importances_

array([  0,   1,   8,   0,   0,   0,   0,   0,   0,   0,   0,   0,   9,
       109, 100,  63,  75,  60,   0,   0,   2,   8,   4,   3, 156,   0,
         0, 126,   0,   0,   1,   0,   0,   3,   0,   0,   0,   0,   0,
         0,   0,   0, 124,   1,   1,  61,   0,   0,  31,   0,   0,   3,
        23,  19,   3,  21,  24, 355,  66, 258,   0,  48,   5,  80,   7,
        43,   0,   3,   7,  85,   4,  62,   2,   5,   4,  89,   6,  58,
         1,   4,   0,  56,  14,  51,   1,   1,   9,  56,   5,  54,   0,
         2,   3,  71,   7,  66,   0,   3,   7,  79,   7,  61,   3,   5,
        11,  49,   7,  44,   5,   2,   9,  27,   4,  31,   1,   0,   8,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  10])

In [115]:
LGB.best_score_

defaultdict(collections.OrderedDict, {})

In [116]:
pred_validation_lgb = LGB.predict(val_x)

In [97]:
from sklearn.metrics import mean_squared_error
rmse_LGB = np.sqrt(mean_squared_error(val_y, pred_validation_lgb))
rmse_LGB

0.6566009050169911

In [123]:
pred_validation_lgb.min(), pred_validation_lgb.max()

(0.14803544848194358, 21.444084298607276)

In [98]:
pred_test_lgb = LGB.predict(test_x)

ValueError: Input data must be 2 dimensional and non empty.

In [ ]:
baseline_features = ['shop_id', 'item_id', 'item_category_id', 'date_block_num'] +  new_features + ['item_cnt_month']

    # Clipping to range 0-20
    train_test_set['item_cnt_month'] = train_test_set.item_cnt_month.fillna(0).clip(0,20)

    # train: want rows with date_block_num from 0 to 31
    train_time_range_lo = (train_test_set['date_block_num'] >= 0)
    train_time_range_hi =  (train_test_set['date_block_num'] <= 32)

    # val: want rows with date_block_num from 22
    validation_time =  (train_test_set['date_block_num'] == 33)

    # test: want rows with date_block_num from 34
    test_time =  (train_test_set['date_block_num'] == 34)


    # Retrieve rows for train set, val set, test set
    cv_trainset = train_test_set[train_time_range_lo & train_time_range_hi]
    cv_valset = train_test_set[validation_time]
    cv_trainset = cv_trainset[baseline_features]
    cv_valset = cv_valset[baseline_features]
    testset = train_test_set[test_time]
    testset = testset[baseline_features]

    # Prepare numpy arrays for training/val/test
    cv_trainset_vals = cv_trainset.values.astype(int)
    trainx = cv_trainset_vals[:, 0:len(baseline_features) - 1]
    trainy = cv_trainset_vals[:, len(baseline_features) - 1]

    cv_valset_vals = cv_valset.values.astype(int)
    valx = cv_valset_vals[:, 0:len(baseline_features) - 1]
    valy = cv_valset_vals[:, len(baseline_features) - 1]

    testset_vals = testset.values.astype(int)
    testx = testset_vals[:, 0:len(baseline_features) - 1]

    print('Fitting...')
    model = xgb.XGBRegressor(max_depth = 11, min_child_weight=0.5, subsample = 1, eta = 0.3, num_round = 1000, seed = 1, nthread = 16)
    model.fit(trainx, trainy, eval_metric='rmse')


    preds = model.predict(valx)
    # Clipping to range 0-20
    preds = np.clip(preds, 0,20)
    print('val set rmse: ', sqrt(mean_squared_error(valy, preds)))

    preds = model.predict(testx)
    # Clipping to range 0-20
    preds = np.clip(preds, 0,20)
    df = pd.DataFrame(preds, columns = ['item_cnt_month'])
    df['ID'] = df.index
    df = df.set_index('ID')
    df.to_csv('test_preds.csv')
    print('test predictions written to file')

    end = time.time()
    diff = end - current
    print('Took ' + str(int(diff)) + ' seconds to train and predict val, test set')

In [13]:
trainset

      shop_id  item_id  date_block_num  item_cnt_day  item_price
0           2      991               0           1.0        99.0
1           2     1472               0           1.0      2599.0
2           2     1905               0           1.0       249.0
3           2     2920               0           2.0       599.0
4           2     3320               0           1.0      1999.0
...       ...      ...             ...           ...         ...
2917       59    13417               0           1.0       699.0
2918       59    13418               0           1.0       699.0
2919       59    13569               0           1.0       499.0
2920       59    15005               0           1.0       249.0
2921       59    16337               0           1.0      2499.0

[2922 rows x 5 columns]

### convert to month (from notebook)

In [21]:
# For every month we create a grid from all shops/items combinations from that month
grid = []
for block_num in df['date_block_num'].unique():
    cur_shops = df[df['date_block_num']==block_num]['shop_id'].unique()
    cur_items = df[df['date_block_num']==block_num]['item_id'].unique()
    grid.append(np.array(list(product(*[cur_shops, cur_items, [block_num]])),dtype='int32'))

In [16]:
grid[0]
# this is making pairs

array([[   27,  8665,     0],
       [   27, 10324,     0],
       [   27, 11222,     0],
       ...,
       [   12,  9807,     0],
       [   12, 20181,     0],
       [   12, 21461,     0]])

In [22]:
index_cols = ['shop_id', 'item_id', 'date_block_num']
grid_df = pd.DataFrame(np.vstack(grid), columns = index_cols, dtype=np.int16)
grid_df.head()

   shop_id  item_id  date_block_num
0       27     8665               0
1       27    10324               0
2       27    11222               0
3       27    11076               0
4       27    15115               0

In [23]:
# Aggregations
df['item_cnt_day'] = df['item_cnt_day'].clip(0,20)
groups = df.groupby(['shop_id', 'item_id', 'date_block_num'])
trainset = groups.agg({'item_cnt_day':'sum', 'item_price':'mean'}).reset_index()
trainset = trainset.rename(columns = {'item_cnt_day' : 'item_cnt_month'})

In [25]:
trainset.head()

   shop_id  item_id  date_block_num  item_cnt_month  item_price
0        0       30               1            31.0       265.0
1        0       31               1            11.0       434.0
2        0       32               0             6.0       221.0
3        0       32               1            10.0       221.0
4        0       33               0             3.0       347.0

In [28]:
trainset['item_cnt_month'] = trainset['item_cnt_month'].clip(0,20)
trainset = pd.merge(grid_df,trainset,how='left',on=index_cols)
trainset['item_cnt_month'] = trainset['item_cnt_month'].fillna(0)

In [32]:
trainset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10884364 entries, 0 to 10884363
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   shop_id         int16
 1   item_id         int16
 2   date_block_num  int16
 3   item_cnt_month  float32
 4   item_price      float32
dtypes: float32(2), int16(3)
memory usage: 228.4 MB

In [30]:
df.head(1)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,item_category_name,shop_name,...,item_price_lag_6,item_cnt_day_lag_7,item_price_lag_7,item_cnt_day_lag_10,item_price_lag_10,item_cnt_day_lag_15,item_price_lag_15,item_cnt_day_lag_20,item_price_lag_20,0
0,2013-01-01,0,27,8665,299.0,1.0,BARBOSKINY ISSUE 5: The Sorcerer's Apprentice,40,Movie - DVD,"Moscow shopping center ""MEGA Belaya Dacha II""",...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,34

In [33]:
df[['item_id', 'item_category_id']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2926186 entries, 0 to 2926185
Data columns (total 2 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           Int16
 1   item_category_id  Int8
dtypes: Int16(1), Int8(1)
memory usage: 14.0 MB

In [34]:
items = pd.read_csv('./translated_2/items_en.csv')

In [35]:
# Get category id
trainset = pd.merge(trainset, items[['item_id', 'item_category_id']], on = 'item_id')
trainset.head()

,shop_id,item_id,date_block_num,item_cnt_month,item_price,item_category_id
0,27,8665,0,3.0,299.0,40
1,54,8665,0,7.0,299.0,40
2,7,8665,0,0.0,NaN,40
3,46,8665,0,0.0,NaN,40
4,14,8665,0,0.0,NaN,40

In [3]:
start_month = 0
end_month = 33

In [36]:
trainset = trainset[(trainset['date_block_num'] >= start_month) & (trainset['date_block_num'] <= end_month)]
testset = trainset[trainset['date_block_num']==34]

In [37]:
 train_test_set = pd.concat([trainset, testset], axis = 0)

### some model

In [38]:
train_test_set.columns

Index(['shop_id', 'item_id', 'date_block_num', 'item_cnt_month', 'item_price',
       'item_category_id'],
      dtype='object')

In [39]:
# Clipping to range 0-20
train_test_set['item_cnt_month'] = train_test_set['item_cnt_month'].fillna(0).clip(0,20)

In [40]:
# train: want rows with date_block_num from 0 to 31
train_time_range_lo = (train_test_set['date_block_num'] >= 0)
train_time_range_hi =  (train_test_set['date_block_num'] <= 32)

In [43]:
# train_time_range_hi, train_time_range_lo

In [44]:
# val: want rows with date_block_num from 22
validation_time =  (train_test_set['date_block_num'] == 33)

# test: want rows with date_block_num from 34
test_time =  (train_test_set['date_block_num'] == 34)

In [46]:
# Retrieve rows for train set, val set, test set
cv_trainset = train_test_set[train_time_range_lo & train_time_range_hi]
cv_valset = train_test_set[validation_time]
testset = train_test_set[test_time]

In [48]:
cv_trainset.head(2)

,shop_id,item_id,date_block_num,item_cnt_month,item_price,item_category_id
0,27,8665,0,3.0,299.0,40
1,54,8665,0,7.0,299.0,40

In [49]:
cv_trainset.values

array([[2.7000e+01, 8.6650e+03, 0.0000e+00, 3.0000e+00, 2.9900e+02,
        4.0000e+01],
       [5.4000e+01, 8.6650e+03, 0.0000e+00, 7.0000e+00, 2.9900e+02,
        4.0000e+01],
       [7.0000e+00, 8.6650e+03, 0.0000e+00, 0.0000e+00,        nan,
        4.0000e+01],
       ...,
       [4.5000e+01, 1.3219e+04, 3.2000e+01, 0.0000e+00,        nan,
        4.7000e+01],
       [4.4000e+01, 1.3219e+04, 3.2000e+01, 0.0000e+00,        nan,
        4.7000e+01],
       [4.1000e+01, 1.3219e+04, 3.2000e+01, 0.0000e+00,        nan,
        4.7000e+01]])

In [ ]:
# Prepare numpy arrays for training/val/test
cv_trainset_vals = cv_trainset.values.astype(int)
trainx = cv_trainset_vals[:, 0:len(baseline_features) - 1]
trainy = cv_trainset_vals[:, len(baseline_features) - 1]

cv_valset_vals = cv_valset.values.astype(int)
valx = cv_valset_vals[:, 0:len(baseline_features) - 1]
valy = cv_valset_vals[:, len(baseline_features) - 1]

testset_vals = testset.values.astype(int)
testx = testset_vals[:, 0:len(baseline_features) - 1]

print('Fitting...')
model = xgb.XGBRegressor(max_depth = 11, min_child_weight=0.5, subsample = 1, eta = 0.3, num_round = 1000, seed = 1, nthread = 16)
model.fit(trainx, trainy, eval_metric='rmse')


preds = model.predict(valx)
# Clipping to range 0-20
preds = np.clip(preds, 0,20)
print('val set rmse: ', sqrt(mean_squared_error(valy, preds)))

preds = model.predict(testx)
# Clipping to range 0-20
preds = np.clip(preds, 0,20)
df = pd.DataFrame(preds, columns = ['item_cnt_month'])
df['ID'] = df.index
df = df.set_index('ID')
df.to_csv('test_preds.csv')
print('test predictions written to file')

end = time.time()
diff = end - current
print('Took ' + str(int(diff)) + ' seconds to train and predict val, test set')